/* 代码来源：Code Dream Star主页 */ 
* {
    margin: 0px;
    outline: none;
    text-decoration: none;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(246, 246, 246);
}

header.app-header {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 99999999999;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

header.app-header.fixed {
    background: #fff;
    color: #000;
}

header.app-header.fixed.hide {
    top: -80px;
}

.app-header-left-img {
    font-size: 20px;
    font-weight: bold;
    color: currentColor;
}

.app-header-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.app-header-right-navigate {
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-align-items: center;
}

.app-header-right-navigate-div {
    padding: 10px 20px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.app-header-right-navigate-div:hover {
    color: #0070f3;
}

.app-header-right-navigate-div-active {
    color: #0070f3;
}

.app-boards {
    width: 100%;
}

.app-boards-root {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.app-boards-root-img {
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    position: absolute;
    cursor: pointer;
}

.app-boards-root.draging>.app-boards-root-img {
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.app-paragraph {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    border-bottom: solid #eaeaea;
    -ms-flex-direction: column;
    -ms-align-content: center;
    -ms-justify-content: center;
    -ms-align-items: center;
    text-align: center;
}

.app-paragraph-title {
    margin: 10px 0px;
}

.app-paragraph-content {
    font-size: 19px;
    color: #000;
}

.app-paragraph-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    -ms-align-items: center;
    -ms-justify-content: center;
    -ms-flex-direction: column;
    -ms-align-content: center;
}

.app-paragraph-content-textdark {
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    -ms-align-items: center;
    -ms-justify-content: center;
    -ms-flex-direction: column;
    -ms-align-content: center;
}

.app-paragraph-content-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
}

.app-paragraph-content-table-div {
    margin: 16px;
    background: #fff;
    color: #000;
    padding: 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -ms-align-items: center;
    -ms-flex-direction: column;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    box-shadow: 0px 1px 3px #aaa;
    -webkit-box-shadow: 0px 1px 3px #aaa;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.app-paragraph-content-table-div:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.app-paragraph-content-table-div-text {
    font-size: 20px;
}

.app-url {
    color: #0af;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.app-url:hover {
    text-decoration: underline;
}

.app-url:active {
    color: #f00;
    text-decoration: underline;
}

img.app-paragraph-content-table-div-icon-img {
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.app-blue-button {
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #0070f3;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 180px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    -webkit-box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.app-blue-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.app-blue-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    top: 0;
    right: -20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.app-blue-button:hover span {
    padding-right: 25px;
}

.app-blue-button:hover span:after {
    opacity: 1;
    right: 0;
}

footer.app-footer {
    margin: 0px;
    padding: 30px 50px 30px 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    -ms-flex-direction: row;
    -ms-align-content: center;
    font-size: 16px;
    background: #fff;
}

footer.app-footer * {
    color: #555;
}

a.deliver-door-footer-div {
    margin: 5px;
}

.app-footer-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    -ms-flex-direction: row;
    -ms-align-content: center;
}

.app-footer-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

a.app-footer-p-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.app-footer-p-content div {
    margin: 0px 0px 5px 0px;
}

.app-footer-p {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.app-footer-right {
    border-left: solid 2px #eaeaea;
    margin: 0px 20px;
    padding: 0px 20px;
}

.deliver-door-footer {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

.page-works-table .app-paragraph-content-table-div {
    flex-direction: row;
    -ms-flex-direction: row;
}

.page-works-table .app-paragraph-content-table-div-icon {
    margin-right: 20px;
}

.app-paragraph-content-table.page-works-table {
    flex-direction: column;
    flex-wrap: unset;
    -ms-flex-direction: column;
    -ms-flex-wrap: unset;
}

.page-works-table-div-right-div {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.page-works-table-div-d {
    color: #888;
    font-size: 16px;
    max-width: 500px;
}

.page-works-table .app-paragraph-content-table-div-text {
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    -ms-align-items: center;
}

.page-works-table .app-paragraph-content-table-div:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.app-paragraph-content-table-div-text v {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    border-color: #d0d7de;
    color: #57606a;
    margin-left: 10px;
}

.app-header-border {
    background: #0af;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999999999999999;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}

.app-user-detailed-banner {
    width: 100%;
    background-image: url(../img/boards/peopleread.png);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.app-user-detailed-container {
    padding: 100px 100px 50px 100px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    -ms-align-items: flex-end;
    -ms-flex-direction: row;
}

.app-user-detailed-container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-align-items: center;
}

img.app-user-detailed-container-left-headimg-imgroot {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 96px;
}

.app-user-detailed-container-left-config {
    margin-left: 20px;
    color: #fff;
}

.app-user-detailed-container-left-config-top {
    font-size: 25px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-direction: row;
    -ms-align-items: center;
}

v.app-user-detailed-container-left-config-top-tag {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    border-color: #d0d7de;
    color: #fff;
    margin-left: 10px;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

img {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@media (max-width: 1000px) {
    footer.app-footer {
        font-size: 14px;
    }

    .app-footer-spacer {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin-top: 15px;
    }

    footer.app-footer {
        padding: 20px 40px 20px 20px;
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .app-footer-p.copyright {
        border-top: solid 1.5px #eaeaea;
        padding-top: 15px;
    }

    .app-footer-p {
        margin: 0px 10px;
    }

    .deliver-door-footer {
        border-top: solid 1.5px #eaeaea;
        margin-top: 10px;
        padding-top: 5px;
    }

    .app-footer-right {
        border-left: none;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 700px) {
    .app-user-detailed-container {
        padding: 100px 50px 50px 50px;
    }

    .app-header-right-navigate-div {
        padding: 10px 15px
    }

    .app-paragraph {
        padding: 50px 20px;
        font-size: 16px;
    }

    .page-works-table .app-paragraph-content-table-div-text {
        font-size: 20px;
    }

    .page-works-table-div-d,
    .app-paragraph-content-table-div-text v {
        font-size: 12px;
    }

    .app-paragraph-content {
        font-size: 14px;
    }

    .app-paragraph-content-table-div-text {
        font-size: 16px;
    }

    img.app-paragraph-content-table-div-icon-img {
        height: 60px;
    }

    .app-paragraph-content-table-div {
        margin: 12px;
        padding: 20px;
    }

    .app-blue-button {
        font-size: 16px;
    }

    header.app-header {
        padding: 10px 0px;
    }

    footer.app-footer {
        font-size: 12px;
    }

    a.app-footer-p-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .app-footer-p-content div {
        margin: 0px 0px 3px 0px;
    }
}

@media (max-width: 500px) {
    .app-user-detailed-container {
        padding: 60px 25px 30px 25px;
    }

    .app-header-right-navigate-div {
        padding: 10px 10px
    }

    .app-paragraph-content-table-div {
        margin: 8px;
        padding: 15px;
    }
}